<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TA App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ApplyServlet</display-name>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/ApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyDb</display-name>
    <servlet-name>ApplyDb</servlet-name>
    <servlet-class>ApplyDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyDb</servlet-name>
    <url-pattern>/ApplyDb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YourUploadServlet</display-name>
    <servlet-name>YourUploadServlet</servlet-name>
    <servlet-class>YourUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YourUploadServlet</servlet-name>
    <url-pattern>/YourUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarksUploadServlet</display-name>
    <servlet-name>MarksUploadServlet</servlet-name>
    <servlet-class>MarksUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarksUploadServlet</servlet-name>
    <url-pattern>/MarksUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarksDownloadServlet</display-name>
    <servlet-name>MarksDownloadServlet</servlet-name>
    <servlet-class>MarksDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarksDownloadServlet</servlet-name>
    <url-pattern>/MarksDownloadServlet</url-pattern>
  </servlet-mapping>
</web-app>